<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/testvagrant/Downloads/restAssured-practice/src/test/">
        <classes>
            <class name="java.PostRequest"/>
            <class name="GetRequest"></class>
            <class name="UpdateRequest"></class>
            <class name="DeleteRequest"></class>
        </classes>
    </test>
</suite>